/Entrega1_Estado_del_Arte/build
/Presentacion_Estado_de_Avance/Instancias_de_Prueba
/Presentacion_Estado_de_Avance/Instancias_Conocidas
/Entrega2_Implementacion/Informe/build
/Entrega2_Implementacion/Codigo/Instancias_de_Prueba
/Entrega2_Implementacion/Codigo/Instancias_Conocidas